<section class="commit-editor">
  <h2>CommitFlow Editor</h2>

  <div class="field">
    <label for="type">Tipo de cambio:</label>
    <select id="type" (change)="onTypeChange($event)">
      @for (type of commitTypes; track type){
      <option [value]="type">{{ type }}</option>
      }
    </select>
  </div>

  <div class="field">
    <label for="scope">Scope (Optional module):</label>
    <input 
      type="text" 
      id="scope" 
      [(ngModel)]="scope" 
      placeholder="e.g., auth, ui, api..."
    >
  </div>

  <div class="field">
    <label for="subject">Asunto del Commit:</label>
    <input type="text" id="subject" placeholder="Ej: add login validation" (input)="onSubjectChange($event)">
  </div>

  <div class="field preview-container">
    <div class="preview">
      <h3>Vista Previa:</h3>
      <code>
        <span class="code-base">git commit -m "</span><span class="code-highlight">{{ selectedType }}@if(scope.trim()){({{ scope.trim() }})}</span><span class="code-base">: {{ subject }}"</span>
      </code>

      <button class="copy-btn" (click)="copyToClipboard()">
        Copiar comando
      </button>
    </div>
  </div>
</section>