<div class="field field-type">
  <label for="type">Tipo de cambio:</label>
  <select id="type" [ngModel]="selectedType" (ngModelChange)="onTypeChange($event)">
    <option value="" disabled>Selecciona un tipo...</option>
    @for (t of commitTypes; track t.value){
    <option [value]="t.value">{{ t.label }}</option>
    }
  </select>

  @if (selectedTypeObject){
  <div class="type-help">
    <p>{{ selectedTypeObject.description }}</p>
  </div>
  }
</div>

<div class="field field-scope">
  <label for="scope">Scope (Optional module):</label>
  <input type="text" id="scope" [ngModel]="scope" (ngModelChange)="scopeChange.emit($event)"
    placeholder="e.g., auth, ui, api...">
</div>

<div class="field field-subject">
  <label for="subject">Asunto del Commit:</label>
  <input type="text" id="subject" [ngModel]="subject" (ngModelChange)="subjectChange.emit($event)"
    placeholder="Ej: add login validation">
</div>