<div class="field preview-container">
  <div class="preview">
    <h3>{{ 'PREVIEW.TITLE' | translate }}</h3>
    <code class="terminal-style">
  <span class="code-base">git commit -m "</span>
  
  <!-- Parte del Header -->
  <span class="text-type">{{ type }}</span>
  @if(scope.trim()){ <span class="text-scope">({{ scope.trim() }})</span> }
  <span class="text-subject">: {{ subject }}</span>
  
  <span class="code-base">"</span>

  <!-- Parte de Detalles -->
  @if (isDetailMode && body.trim()) {
    <div class="text-body"> -m "{{ body.trim() }}"</div>
  }

  @if (isDetailMode && footer.trim()) {
    <div class="text-footer"> -m "{{ footer.trim() }}"</div>
  }
</code>

  <span class="terminal-hint">
    <small>{{'PREVIEW.TERMINAL_HINT' | translate }}</small>
  </span>

    <button class="copy-btn" (click)="copyToClipboard()">
      {{ 'PREVIEW.COPY_BUTTON' | translate }}
    </button>
  </div>
</div>