@use '../../../../../styles/variables' as *;

.preview {
  margin-top: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: 1px solid #ffffff;
  border-left: 4px solid $accent-color;
  backdrop-filter: blur(5px);

  h3 {
    margin-top: 0;
    font-size: 1.1rem;
    color: #e7e7e7;
  }

  .terminal-style {
    display: block;
    font-family: 'Fira Code', monospace;
    font-size: 1.1rem;
    background: #111;
    padding: 15px;
    border-radius: 4px;
    word-wrap: break-word;

    color: #ffffff;

    .text-type {
      color: $color-type !important;
    }

    .text-scope {
      color: $color-scope !important;
    }

    .text-subject {
      color: $color-subject !important;
    }

    .text-body {
      color: $color-body !important;
      margin-top: 5px;
    }

    .text-footer {
      color: $color-footer !important;
      margin-top: 5px;
    }

    .code-base {
      color: #ffffff;
      opacity: 0.6;
    }
  }
}

.copy-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ffffff;
    color: #0d1117; // The dark background
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }

  &:active {
    transform: scale(0.98); // Physical "click" effect
  }
}
