<div class="options-container">
  <button type="button" (click)="onToggle()" class="btn-toggle">
    {{ (isDetailMode ? 'DETAILS.BUTTON.SIMPLE' : 'DETAILS.BUTTON.ADVANCED') | translate }}
  </button>
</div>

@if (isDetailMode) {
  
  <div class="detailed-fields">
    
    <div class="input-group group-body">
      <label for="body">
        {{'DETAILS.BODY.LABEL' | translate}}
      </label>

      <textarea
        id="body"
        [ngModel]="body"
        (ngModelChange)="onBodyInput($event)"
        [placeholder]="'DETAILS.BODY.PLACEHOLDER' | translate"
        rows="3"
      ></textarea>
    </div>

    <div class="input-group group-footer">
      <label for="footer">
        {{'DETAILS.FOOTER.LABEL' | translate}}
      </label>
      <input
        type="text"
        id="footer"
        [ngModel]="footer"
        (ngModelChange)="onFooterInput($event)"
        [placeholder]="'DETAILS.FOOTER.PLACEHOLDER' | translate">
    </div>

  </div>
}